@charset "UTF-8";

/*  메인페이지*/

	.thispoint1, .thispoint2, .thispoint3, .thispoint4  {
		margin: 70px 0;
	}
	.productDetail{
		margin: 20px;
		text-align:center;
	}
	.boardnum{
		text-align:center;
	}
	.mainpage{
		width:1020px;
		margin:auto;
		padding-top: 40px;
	}
	.big{
		width:300px;
		height:95px;
		cursor:pointer;
	}
	.searchcursor2{
		cursor:pointer;
	}
	.searchcursor{
		border: 0px;
    	margin-top: 7px;
    	height: 24px;
    	width: 206px;
    	float: left;
    	margin-left: 8px;
    	outline: none;
	}
	.search{
		margin-top:20px;
		margin-right:20px;
		float:right;
		width:300px;
		height:50px;
	}
	.search1{
		float: left;
    	width: 261px;
    	height: 36px;
    	margin-left: 2px;
    	border: 1px solid gray;
    	margin-top: 27px;
    	border-radius: 20px;
		
	}
	.search2{
		float:right;
		margin-top:5px;
		margin-right:2px;
		width:40px;
		height:36px;
	}
	.category{
		height:48px;
		background:#006241;
		margin-top: 40px;
		margin:auto;
		text-align:center;
	}
	.worldbread {
	    margin-top: 13px;
	    float: left;
	    height: 30px;
	    font-size: 18px;
	    font-weight: bolder;
	    color: white;
	    text-align: center;
	    width: 170px;
	    cursor:pointer;
	}
	.worldcoffee{
	 	margin-top: 13px;
	    float: left;
	    height: 30px;
	    font-size: 18px;
	    font-weight: bolder;
	    color: white;
	    text-align: center;
	    width: 170px;
	    cursor:pointer;
	}
	.contentop{
	    margin-top: 15px;
	    border: 0;
	    text-align: center;
	    display: none;
	    width: 100%;
	}
	.contentop1{
		border: none;
    	text-align: center;
    	display: none;
    	width: 100%;
    	min-height: 17px;
    	line-height: 29px;
	}
	.worlddesert{
		margin-top: 13px;
	    float: left;
	    height: 30px;
	    font-size: 18px;
	    font-weight: bolder;
	    color: white;
	    text-align: center;
	    width: 170px;
	    cursor:pointer;
	}
	.worlddrink{
		margin-top: 13px;
	    float: left;
	    height: 30px;
	    font-size: 18px;
	    font-weight: bolder;
	    color: white;
	    text-align: center;
	    width: 170px;
	    cursor:pointer;
	}
	.worldmugcup{
		margin-top: 13px;
	    float: left;
	    height: 30px;
	    font-size: 18px;
	    font-weight: bolder;
	    color: white;
	    text-align: center;
	    width: 170px;
	    cursor:pointer;
	}
	.worldtumblr{
		margin-top: 13px;
	    float: left;
	    height: 30px;
	    font-size: 18px;
	    font-weight: bolder;
	    color: white;
	    text-align: center;
	    width: 170px;
	    cursor:pointer;
		
	}
	/*.login{
		float:left;
		margin-left:110px;
		font-size:11px;
		width:139px;
		height:0px;
		font-weight:bold;
		color:gray;
	}
	.login1{
		cursor:pointer;
	}
	.login2{main_menu_g
		cursor:pointer;
	}
	.login3{
		cursor:pointer;
	}*/
	.roundleft{
	    text-align: center;
    	float: left;
    	width: 510px;
	}
	.roundworld{
		width: 425px;
    	padding-top: 3px;
    	margin-bottom: 25px;
    	margin-top: -38px;
    	padding: 30px;
    	margin-left: -80px;
	}
	.roundright{
		float:left;	
		width:509px;
	}
	.roundleftHead {
  		width: 478px;
	    height: 488px;
	    border-radius: 33px;
	}
	.roundleftbottom {
	  	margin: 10px;
	}
	.smallimage{
	    width: 135px;
	    height: 130px;
	    border-radius: 33px;
	    padding: 10px;
	}
	.line{
	margin-top: -45px;
    margin-left: -5px;
	}
	.line1{
		font-size:18px;
		font-weight:bolder;
	}
	.please4{
   		letter-spacing: -1px;
	    margin-top: 10px;
	    font-size: 29px;
	    font-weight: bold;
	 }
	 .eachproduct_area{
	 	font-size: 30px;
	    margin: 40px 30px;
	    border-bottom: 2px solid black;
	 }
	  .pricein{
	 	height:41px;
	 	margin-top: 10px;
	 }
	 .priceins{
	 	height:80px;
	 }
	 .pricens1{
	 	height:50px;
	 }
	 .pricens2{
		height:157px;	
		width: 512px; 
	 }
	 .priceworld{
	 	float: left;
    	font-size: 12px;
  		margin-top: 12px;
	 }
	 .price1{
	 	margin-top: 30px;
	 	font-size: 26px;
  	  	font-weight:bolder;
  	  	font-family:sans-serif;
    	color: #222;
	 }
	 .won{
	 	font-size: 22px;
	    margin-top: 36px;
	    color: #006241;
	    font-weight: bold;
	 }
	 .cpprice{
	 	float:left;
	 	color:#222;
	 	font-size:18px;
	 }
	 .cpprice2{
	 	margin-left: 80px;
    	color: #006241;
    	font-size: 20px;
	 }
	 .cpprices{
    	color: #006241;
    	font-size: 20px;
	 }
	 .infor{
	 	float:left;
	 	border:1px solid gray;
	 	margin-left: 60px;
	 }
	 .infor2{
	 	float:left;
	 	border:1px solid gray;
	 	margin-left: 20px;
	 }
	 .infor3{
	 	font-size: 13px;
   		float: left;
    	margin-left: 131px;
	 }
	 .inforprice{
	 	margin-left: 80px;
    	float: left;
    	color: #006241;
    	font-family: fantasy;
    	font-size: 20px;
    	font-weight:bolder;
	 }
	 .jeju{
	 	float: left;
   	 	margin-left: 100px;
    	margin-top: 5px;
    	font-size: 13px;
	 }
	 .rightpyo1{
	 	padding-top: 17px;
	    padding-bottom: 33px;
	    margin-bottom: 18px;
	    border: 2px solid #f1f1f1;
	 }
	 .into{
		letter-spacing: -0.5px;
    	font-weight: bolder;
    	margin-top: -50px;
    	font-size: 17px;
	 }
	 .su{
	 	float: left;
    	margin-left: -235px;
    	margin-bottom: -36px;
    	padding: 15px 69px;
    	border: 1px solid #f1f1f1;
    	height: 0px;
	 }
	 .saelo{
	 	padding: 3px;
   	 	border-left: 1px solid #f1f1f1;
    	float: left;
    	margin-left: -30px;
    	width: 0.1px;
    	height: 25px;
    	margin-top: -15px;
	 }
	 .minus{
	 	float: left;
   		color: #969696;
   		margin-left: -58px;
    	margin-top: -31px;
    	font-size: 40px;
    	cursor: pointer;
	 }
	 .saelo2{
    	float: right;
	 	padding: 3px;
  	 	border-left: 1px solid #f1f1f1;
    	margin-left: -76px;
    	width: 0.1px;
    	height: 25px;
    	margin-top: -15px;
    	margin-right: -38px;
	 }
	 .plus{
		float: right;
    	color: #969696;
    	margin-right: -64px;
    	margin-top: -31px;
    	font-size: 39px;
    	cursor: pointer;
	 }
	 .finalprice{
	 	float: right;
    	color: #006241;
    	font-family: fantasy;
    	font-size: 30px;
    	margin-top: -20px;
	 }
	 .total{
	 	text-align: center;
    	font-size: 26px;
    	min-width: 109px;
	 }
	 .option1{
	 	height:85px;
	 }
	 .option3{
	 	margin-top: 37px;
	 	text-align: right;
	 }
	 .rightpyo2{
    	margin-top: 28px;
	    color: white;
	    font-weight: bold;
	    font-size: 17px;
	 }
	 .jangbaguni{
	 	display:inline-block;
    	background-color: black;
	    padding: 20px 44px;
	    cursor:pointer;
		border-radius: 15px;
	}	
	 .baro{
	 	display:inline-block;
	 	padding: 20px 50px;
    	background-color: #ff5b59;
    	cursor:pointer;
		border-radius: 15px;
	}
	 .jjim{
	 	display:inline-block;
    	background-color: #006241;;
	 	padding: 20px 60px;
	 	cursor:pointer;
	 	border-radius: 15px;
	 }
	 .togetherworld{
	 	font-size: 26px;
	    font-weight: bolder;
	    margin: 0 10px 0 25px;
	 }
	 .togethermore{
	 	font-family: 'Cafe24Ssurround';
	    display: inline-block;
	    font-style: normal;
	    font-size: 18px;
	    color: #666;
	    cursor: pointer;
	 }
	.blackline{
		width: 1020px;
    	margin-top: 20px;
    	color: #222;
    	border-bottom: 5px solid;
    	margin-left: 2px;
	}
	.last{
		margin-top: 26px;
	}
	.last1{
   	 	display: inline-block;
	    height: 399px;
	    width: 216px;
	    cursor: pointer;
	    margin-left: 33px;
	}
	.lastimage{
		width: 200px;
    	height: 230px;	
    	border-radius:10px;
	}
	.starworld{
		font-size: 15px;
    	font-weight: bolder;
	}
	.pyodiv{
		text-align:center;
		border: 1px solid #d1d1d1;
    	height: 107px;
    	margin-top: 40px;
	}
	.pyodiv1, .pyodiv2, .pyodiv3 {
		width: 339px;
	    line-height: 107px;
	    cursor: pointer;
	    float: left;
	    font-size: 22px;
	}
	.pyodiv1:hover {
		background-color:black;
		color:#fff;
	}
	.pyodiv2:hover {
		background-color:black;
		color:#fff;
	}
	.pyodiv3:hover {
		background-color:black;
		color:#fff;
	}
	.amount{
		display:block;
		position : relative;
		min-width:40px;
		padding : 0 30px;
	}
	.amountprice{
		font-size: 48px;
	    text-align: right;
	    width: 340px;
	    border: none;
	    color: red;
	}
	/*메인페이지임*/
	.btn_page{
		font-family: 'Cafe24Ssurround';
	    display: inline-block;
	    width: 35px;
	    height: 35px;
	    margin: 0px 2px;
	    font-size: 22px;
	    cursor:pointer;
	}
	.btn_pageNone{
		font-family: 'Cafe24Ssurround';
	    display: inline-block;
	    width: 35px;
	    height: 35px;
	    margin: 0px 2px;
	    font-size: 22px;
	}
	/*상세정보css*/
	
	.mainpage2{
		width: 1020px;
    	min-height: 500px;
    	margin: auto;
	}
	.reviewall{
	    width: 943px;
    	height: 130px;
    	float: left;
    	margin: auto;
	}
	.warning{
		color: #ff5b59;
    	font-weight: bolder;
    	margin-left: 10px;
	}
	.warning1{
		color: #ff5b59;
    	font-size: 21px;
    	font-weight: bolder;
    	text-align: center;
	}
	.redworld1{
   	 	margin-top: 50px;
    	font-size: 17px;
   	 	margin-left: 100px;	
   	 	color: #ff5b59;
   	 	text-align: center;
	}
	.redworld2{
		font-size: 17px;
    	text-align: center;
    	color: #ff5b59;
    	width:900px;
    	margin-top: -70px;
	}
	.sangsae1{
   	 	font-weight: bold;
    	color: #222;
		border-bottom: 5px solid #222;
	}
	.inforworld{
	    font-size: 63px;
	    font-weight: bolder;
	    padding: 40px 133px;
	    text-align: center;
	    letter-spacing: -2px;
	}
	.tellinfor{
	    padding: 0 97px;
    	text-align: center;
    	font-size: 18px;
	}
	.sympyo1{
		padding: 3px 50px 0 53px;
    	text-align: left;
    	font-size: 35px;
    	font-weight: bold;;
	}
	.sympyo2{
		padding: 3px 50px 0 53px;
    	text-align: left;
    	font-size: 35px;
    	font-weight: bold;
	}
	/*상세정보css*/
	
	
	/*고객리뷰css*/
	.mainpage3{
   		margin: 0 auto;
	}
	.customorReview {
		padding-top:45px;
		padding-bottom:10px;
		font-weight:bold;
		color:#222;
		border-bottom:4px solid black;
		font-size:20px;
	}
	.power{
	    float: left;
    	margin-left: -4px;
   	 	width: 940px;
	}
	.reviewpyodiv{
		height:84px;
		padding: 20px 256px;
		border:1px solid #d1d1d1;
	}
	.reviewtext{
		font-size:14px;
		color:gray;
		margin-top: 10px;
	}
	.reviewSelect{
		margin: 10px 0;
    	text-align: right;
	}
	.lastboard {
	    min-height: 100px;
	    margin: 17px 0px;
	    border-top: 3px solid black;
	}
	.reviewpage {
		line-height: 37px;
		font-size:16px;
		border-bottom: 1px solid grey;
		min-height: 100px;
	}
	.reviewNum{
		float:left;
		width:124px;
		height:41px;
		padding:31px 0 29px;
		text-align: center;
	}
	.reviewRating{
		float:left;
		width:170px;
		height:41px;
		padding:31px 0 29px;
		text-align: center;
	}
	.reviewTitle {
		float:left;
		width:350px;
		height:41px;
		padding:31px 0 29px;
		text-align: center;
		cursor:pointer;
	}
	.reviewId{
		float:left;
		width:141px;
		height:41px;
		padding:31px 0 29px;
		text-align: center;
	}
	.reviewDate{
		float:left;
		width:144px;
		height:41px;
		padding:31px 0 29px;
		text-align: center;
	}
	.reviewcamera{
		margin-bottom: -8px;
	}
	/*고객리뷰css*/
	
	/*배송교환안내*/
   		.deliverytitle{
   		padding-top: 45px;
	    padding-bottom: 10px;
	    font-weight: bold;
    	color: #222;
    	border-bottom: 4px solid black;
    	font-size: 20px;
   		}
   		.delivery{
			padding: 31px 0 29px;
		    line-height: 37px;
		    font-size: 16px;
		    border-bottom: 1px solid grey;
		    height: 91px;
   		}
   		.deliveryImage1{
   		float: left;
   		width: 148px;
   		}
   		.deliveryImage2{
   		float: left;
    	width: 525px;
   		}
   		.deliveryImage3{
   		float: left;
	    width: 340px;
	    text-align: center;
   		}
   		.deliveryworld{
   		text-align: left;
    	font-size: 18px;
    	font-weight: bold;
   		}
   		.deliveryoption{
   		font-weight: bolder;
    	font-size: 19px;
    	line-height: 88px;
		}
		.deliverylastworld{
		margin-top: 30px;
		font-size: 16px;
    	font-weight: bold;
		}
		.exchangetitle{
   		float: left;
	    width: 148px;
	    font-weight: bolder;
   		}		
   		.exchangeImage1{
   		    float: left;
    		width: 860px;
   		}
   		.exchangeworld{
    	font-size: 16px;
    	margin-left: 50px;
   		}
   		.exchange1{
	   		padding: 29px 0;
		    line-height: 37px;
		    font-size: 16px;
		    border-bottom: 1px solid grey;
		    height: 417px;
   		}
   		.exchangelastworldmain{
   		margin-top:30px;
   		}
   		.exchangelastworld{
   		font-size: 17px;
    	font-weight: bold;
   		}
	/*배송교환안내*/
	
	
	
	